@page "/"
@model front.Pages.HomeModel
@{
    ViewData["Title"] = "Gestão de Serviços para Clientes";
}

<div class="h-screen bg-[url('/images/background.png')] bg-cover bg-center flex flex-col items-center justify-center text-center px-6">
    <h1 class="text-5xl font-extrabold text-green-900 mb-4">Gestão de Serviços para Clientes</h1>
    <p class="text-lg text-green-800 mb-2">Organize. Planeje. Conecte-se com os seus clientes de forma eficiente.</p>
    <a href="/EscolherPerfil" class="bg-green-700 hover:bg-green-800 text-white font-semibold py-3 px-6 rounded-full transition duration-300">
    Começar Agora
    </a>
</div>
